@import '@/styles/globals.scss';

.container {
        position: relative;
        margin: auto;
        width: 100%;
        max-width: 1100px;
        min-height: calc(100vh - 50px);
        padding: 100px clamp(20px, calc(5vw + 10px), 50px) 0;
}

.titleContainer {
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 3;
        justify-self: center;
        top: 50px;
        width: 100%;
        max-width: 1000px;
        padding: 10px clamp(0px, calc(5vw + 10px), 15px);
        background-color: $background-color;
        .editorTitle {
                max-width: 900px;
                width: calc(100% - 70px);
                background-color: #ebf0ff;
                border: none !important;

        }
        .linkCopyButton {
                background-color: transparent;
                font-weight: 900;
        }
}

.buttonContainer {
        display: flex;
        justify-content: space-between;
        justify-self: center;
        width: 100%;
        max-width: 1000px;
        padding: 10px clamp(0px, calc(5vw + 10px), 15px);
        background-color: $background-color;
        .deleteButton, .saveButton {
                width: fit-content;
                font-size: 12px;
                font-weight: 800;
                color: $background-color;
                padding: 10px 20px;
                border-radius: var(--radius);
                background-color: $red-color;
                &.saveButton {
                        background-color: $blue-color;
                }
        }
}