@import '@/styles/globals.scss';

.container {
        position: relative;
        margin: auto;
        width: 100%;
        max-width: 1100px;
        min-height: calc(100vh - 50px);
        padding: 100px clamp(20px, calc(5vw + 10px), 50px);
}

.ailogHeader {
    margin-bottom: 20px;
    text-align: center;
    h1 {
        margin: 0;
    }
}

.subtitle {
    margin: 10px 0 0 0;
    color: $text-sub2;
    font-size: 12px;
    font-weight: 600;
}

.writeButton {
    display: block;
    margin-left: auto;
    width: fit-content;
    font-size: 12px;
    font-weight: 800;
    color: $background-color;
    text-decoration: none;
    padding: 10px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: $main-color;
    border-radius: var(--radius);
}

.message , .loadingMessage {
    height: calc(100vh - 352px);
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &.loadingMessage {
        height: calc(100vh - 320px);
    }
}

.postList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    margin: 40px 0;
}

.postCard {
    cursor: pointer;
    min-height: 240px;
    background: #f0f7ff;
    border: 1px solid #f0f7ff;
    border-radius: var(--radius);
    box-shadow: 0 4px 12px rgba(0, 23, 142, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    position: relative;
    backdrop-filter: blur(6px);
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        border: 1px solid $main-color;
    }
    .postTitle {
        margin: 0;
    }
    .postContent, .postTitle {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        line-height: 1.3;
        max-height: 1.3em;
        &.postContent {
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.3;
            max-height: calc(1.3em * 3);
        }
    }
    .postSummary {
        color: $text-sub2;
    }
    .postTagList {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        gap: 10px;
        margin-bottom: 10px;
        span {
            font-size: 12px;
            font-weight: 500;
            background: $main-color;
            color: $blue-color;
            border: 1px solid $blue-color;
            border-radius: var(--radius);
            padding: 5px 10px;
        }
    }
    .postDate {
        font-size: 12px;
        color: $text-sub2;
        text-align: right;
        margin-top: auto;
    }
}

.pagenation {
    display: flex;
    justify-content: center;
    .prevButton, .nextButton {
        position: relative;
        width: 30px;
        height: 30px;
        background-color: transparent;
        &::before {
            content: '\2227';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            font-size: 20px;
            line-height: 30px;
            color: $text;
        }
        &.prevButton {
            margin-right: 20px;
            &::before {
                transform: rotate(-90deg);
            }
        }
        &.nextButton {
            margin-left: 20px;
            &::before {
                transform: rotate(90deg);
            }
        }
        &:disabled::before  {
            color: $text-sub2;
        }
    }
    .pageButton {
        font-size: 12px;
        font-weight: 600;
        padding: 5px 10px;
        &.active {
            color: $background-color;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            background-color: $blue-color;
            border-radius: var(--radius);
        }
    }
}