@use '@/styles/globals.scss' as *;

.footer {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: $background-color;
    padding: 10px clamp(20px, 5vw, 50px);
    border-top: 2px solid #00178e33;
}

.copyright {
    display: inline-block;
    width: 100%;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    color: $blue-color;
    text-align: center;
    font-weight: 900;
    background-color: $background-color;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--shadow-lg);
    background-color: $background-color;
    padding: 20px;
    border-radius: var(--radius);
    p {
        width: 100%;
        text-align: center;
        font-size: 12px;
        margin-bottom: 15px;
    }
    img {
        border-radius: var(--radius);
    }
}