@use '@/styles/globals.scss' as *;

.toolbar {
    position: fixed;
    top: 110px;
    z-index: 2;
    max-width: 1000px;
    justify-self: center;
    background-color: $background-color;
    border-bottom: 1px solid $chat-background;
    
    .toolbarWrapper {
        display: inline-block;
        position: relative;
        padding-right: 20px;
        margin: 5px;
        &::before {
        content: '';
        width: 1px;
        height: 15px;
        background-color: $text-sub2;
        position: absolute;
        top: 5px;
        right: 5px;
        }
        &:last-child {
        padding: 0;
        &::before {
            display: none;
        }
        }
        button {
        margin: 0;
        padding: 0;
        border: 0;
        position: relative;
        background: transparent;
        cursor: pointer;
        font: inherit;
        background: none;
        outline-style: none;
        padding: 5px 10px;
        border-radius: 5px;
        transition: all .2s ease;
        &.active {
            background-color: $main-color;
            color: $background-color;
            img {
            filter: brightness(1000%);
            }
        }
        img {
            width: 15px;
            height: 15px;
        }
        &:hover {
            background-color: rgba(171,189,255, .5);
        }
        &:disabled {
            opacity: 0.5;
        }
        .colorbar {
            position: absolute;
            bottom: 3px;
            left: 50%;
            transform: translateX(-50%);
            width: 15px;
            height: 3px;
            border-radius: 5px;
        }
        }

        .fontSizeWrapper {
        width: 60px;
        height: 28px;
        display: inline;
        position: relative;
        input {
            padding: 5px 10px !important;
            border: none !important;
            width: 50px !important;
            height: 28px !important;
            margin-left: 10px !important;
            font-size: 16px;
        }
        .fontSizeButton {
            position: absolute;
            right: 0;
            padding: 0;
            img {
            width: 10px;
            height: 10px;
            }
            &:first-child {
            top: 0px;
            }
            &:last-child {
            bottom: -8px;
            }
        }
        }
    }
}

.title {
    padding: 0 15px;
    line-height: 1.1;
    text-wrap: pretty;
    color: $text;
    font-size: 1.4rem;
    font-weight: bold;
    width: 100%;
    &::placeholder {
        color: $text-sub2;
    }
}

.colorPicker {
    position: absolute;
    z-index: 2;
    top: 36px;
    right: 0;
}

.linkPreview {
    border: 1px solid $border-color;
    border-radius: 8px;
    margin: 10px 0;
    overflow: hidden;
    .linkPreviewFrame {
        width: 100%;
        height: 300px;
        border: none;
    }
}